{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% tailwind_css %}
    <title>Home</title>
  </head>
  <body>
    <div class="contener">
      <div class="menu flex flex-row gap-96 bg-gray-400 h-20 pl-56 text-white">
        <div class="logo ml-56 pl-10 pt-5 text-4xl text-blue-300">Assa</div>
        <nav>
          <ul class="flex flex-row pt-8 gap-5 text-xl">
            <li><a href="">Home</a></li>
            <li><a href="">A propos</a></li>
            <li><a href="">Depatements</a></li>
            <li><a href="">Docteurs</a></li>
            <li><a href="">Inscription</a></li>
            <li><a href="">Connection</a></li>
          </ul>
        </nav>
      </div>
      <div class="main_containt">
        <div class="text pl-80 mt-80">
          <p class="text-blue-500">Bienvenue sur ASSA</p>
          <h1>Votre Assistant Sanitaire automatique</h1>
        </div>
      </div>
    </div>
  </body>
</html>
