{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenue</title>
    {% tailwind_css %}
  </head>
  <body class="bg-gray-400">
    <div class="contener">
      <div
        class="menu flex flex-col gap-10 border-2 border-l-8 border-t-2 rounded-2xl w-60 h-screen bg-gray-800 text-gray-300"
      >
        <div class="log mb-20 pl-10 pt-10 text-4xl">ASSA</div>
        <nav>
          <ul class="flex flex-col gap-20 pl-10 pt-10">
            <li><a href="" target="_blank">Dashboard</a></li>
            <li><a href="" target="_blank">Patients</a></li>
            <li><a href="" target="_blank">Calendrier</a></li>
            <li><a href="" target="_blank">Messages</a></li>
            <li><a href="" target="_blank">Profile</a></li>
            <li><a href="" target="_blank">Notification</a></li>
          </ul>
        </nav>
      </div>
      <div class="main"></div>
    </div>
  </body>
</html>
