<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connexion</title>
  </head>
  <body>
    <h2>Connectez-vous</h2>
    <form action="" method="post">
      <div>
        <label for="tel">telephone</label>
        <input type="text" name="telephone" id="tel" />
      </div>
      <div>
        <label for="nomDePasse">Mot de passe</label>
        <input type="password" name="mot_de_passe" id="nomDePasse" />
      </div>
      <div>
        <input type="submit" value="Connexion" />
      </div>
      <p>Vous n'avez pas de compte ? <a href="">Inscrivez-vous</a></p>
    </form>
  </body>
</htm>